In [1]:
import pandas as pd
import os
import numpy as np
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.preprocessing import StandardScaler, PolynomialFeatures, LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt
from category_encoders.one_hot import OneHotEncoder
from category_encoders import OrdinalEncoder

import warnings
warnings.filterwarnings(action='ignore')

https://www.bcsc-research.org/data/rf/documentation

In [3]:
# 세 dataset 불러오기
dir = './'
df1 = pd.read_csv(os.path.join(dir, 'data1.csv'))
df2 = pd.read_csv(os.path.join(dir, 'data2.csv'))
df3 = pd.read_csv(os.path.join(dir, 'data3.csv'))
df1

,year,age_group_5_years,race_eth,first_degree_hx,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,count
0,2013,7,1,0,9,3,1,1,2,3,0,0,7
1,2013,7,1,0,9,3,1,1,2,3,1,0,3
2,2013,7,1,0,9,3,1,1,2,4,0,0,6
3,2013,7,1,0,9,3,1,1,2,4,1,0,1
4,2013,7,1,0,9,3,1,1,2,4,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
509405,2017,13,9,9,9,9,1,9,2,9,1,0,1
509406,2017,13,9,9,9,9,2,0,2,9,0,0,1
509407,2017,13,9,9,9,9,2,9,2,9,9,9,1
509408,2017,13,9,9,9,9,3,0,2,9,0,0,1
509409,2017,13,9,9,9,9,3,9,2,9,9,0,1

In [4]:
df2

,year,age_group_5_years,race_eth,first_degree_hx,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,count
0,2005,1,1,0,0,0,2,0,1,9,0,0,2
1,2005,1,1,0,0,0,4,0,1,1,0,0,1
2,2005,1,1,0,0,0,4,0,1,2,0,0,1
3,2005,1,1,0,0,0,4,0,1,9,0,0,2
4,2005,1,1,0,0,1,4,0,1,4,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
506460,2009,6,1,0,9,2,1,0,9,9,0,0,1
506461,2009,6,1,0,9,2,1,0,9,9,0,9,2
506462,2009,6,1,0,9,2,1,0,9,9,1,9,1
506463,2009,6,1,0,9,2,1,1,2,1,0,0,2
506464,2009,6,1,0,9,2,1,1,2,1,1,0,3

In [5]:
df3

,year,age_group_5_years,race_eth,first_degree_hx,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,count
0,2009,6,1,0,9,2,1,1,2,2,0,0,2
1,2009,6,1,0,9,2,1,1,2,3,0,0,3
2,2009,6,1,0,9,2,1,1,2,4,0,0,2
3,2009,6,1,0,9,2,1,1,2,9,0,9,1
4,2009,6,1,0,9,2,1,9,1,9,0,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
506460,2013,7,1,0,9,3,1,0,9,9,1,1,1
506461,2013,7,1,0,9,3,1,1,2,1,0,0,8
506462,2013,7,1,0,9,3,1,1,2,1,1,0,1
506463,2013,7,1,0,9,3,1,1,2,2,0,0,12
506464,2013,7,1,0,9,3,1,1,2,2,1,0,5

In [6]:
df_temp = pd.concat([df2, df3])
df_temp

,year,age_group_5_years,race_eth,first_degree_hx,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,count
0,2005,1,1,0,0,0,2,0,1,9,0,0,2
1,2005,1,1,0,0,0,4,0,1,1,0,0,1
2,2005,1,1,0,0,0,4,0,1,2,0,0,1
3,2005,1,1,0,0,0,4,0,1,9,0,0,2
4,2005,1,1,0,0,1,4,0,1,4,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
506460,2013,7,1,0,9,3,1,0,9,9,1,1,1
506461,2013,7,1,0,9,3,1,1,2,1,0,0,8
506462,2013,7,1,0,9,3,1,1,2,1,1,0,1
506463,2013,7,1,0,9,3,1,1,2,2,0,0,12
506464,2013,7,1,0,9,3,1,1,2,2,1,0,5

In [7]:
df = pd.concat([df_temp, df1])
df

,year,age_group_5_years,race_eth,first_degree_hx,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,count
0,2005,1,1,0,0,0,2,0,1,9,0,0,2
1,2005,1,1,0,0,0,4,0,1,1,0,0,1
2,2005,1,1,0,0,0,4,0,1,2,0,0,1
3,2005,1,1,0,0,0,4,0,1,9,0,0,2
4,2005,1,1,0,0,1,4,0,1,4,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
509405,2017,13,9,9,9,9,1,9,2,9,1,0,1
509406,2017,13,9,9,9,9,2,0,2,9,0,0,1
509407,2017,13,9,9,9,9,2,9,2,9,9,9,1
509408,2017,13,9,9,9,9,3,0,2,9,0,0,1
509409,2017,13,9,9,9,9,3,9,2,9,9,0,1

In [8]:
# 예측에 상관없는 year column은 제거
df.drop(columns='year', inplace=True)

# 각 feature 요소들 이름 입력
df["age_group_5_years"] = df["age_group_5_years"].apply(lambda x: '18-29' if x==1 else ('30-34' if x==2 else ('35-39' if x==3 else(
                                                        '40-44' if x==4 else('45-49' if x==5 else('50-54' if x==6 else(
                                                        '55-59' if x==7 else('60-64' if x==8 else('65-69' if x==9 else(
                                                        '70-74' if x==10 else('75-79' if x==11 else('80-84' if x==12 else '>85'))))))))))))

df["race_eth"] = df["race_eth"].apply(lambda x: 'Non-Hispanic white' if x==1 else('Non-Hispanic black' if x==2 else(
                                        'Asian/Pacific islander' if x==3 else('Native American' if x==4 else(
                                        'Hispanic' if x==5 else('Other/mixed' if x==6 else 'Unknown'))))))

df["first_degree_hx"] = df["first_degree_hx"].apply(lambda x: 'No' if x==0 else('Yes' if x==1 else 'Unknown'))

df["age_menarche"] = df["age_menarche"].apply(lambda x: '>14' if x==0 else('12-13' if x==1 else('<12' if x==2 else 'Unknown')))

df["age_first_birth"] = df["age_first_birth"].apply(lambda x: '<20' if x==0 else('20-24' if x==1 else('25-29' if x==2 else(
                                                    '>30' if x==3 else('Nulliparous' if x==4 else 'Unknown')))))

df["BIRADS_breast_density"] = df["BIRADS_breast_density"].apply(lambda x: 'Almost entirely fat' if x==1 else(
                                                                'Scattered fibroglandular densities' if x==2 else(
                                                                'Heterogeneously dense' if x==3 else(
                                                                'Extremely dense' if x==4 else 'Unknown'))))

df["current_hrt"] = df["current_hrt"].apply(lambda x: 'No' if x==0 else('Yes' if x==1 else 'Unknown'))

df["menopaus"] = df["menopaus"].apply(lambda x: 'Pre' if x==1 else('Post' if x==2 else('Surgical' if x==3 else 'Unknown')))

df["bmi_group"] = df["bmi_group"].apply(lambda x: '10-24.99' if x==1 else('25-29.99' if x==2 else('30-34.99' if x==3 else('>35' if x==4 else 'Unknown'))))

df["biophx"] = df["biophx"].apply(lambda x: 'No' if x==0 else('Yes' if x==1 else 'Unknown'))

df["breast_cancer_history"] = df["breast_cancer_history"].apply(lambda x: 'No' if x==0 else('Yes' if x==1 else 'Unknown'))

# count는 최대 100으로 clip 후 정규화
df["count"] = df["count"].clip(upper=100)
df["count"] = df["count"].apply(lambda x: (x-1)/(100-1))

In [9]:
# Unknown 있는 행들 다 제거
df = df[df["race_eth"] != 'Unknown']
df = df[df["first_degree_hx"] != 'Unknown']
df = df[df["age_menarche"] != 'Unknown']
df = df[df["age_first_birth"] != 'Unknown'] 
df = df[df["BIRADS_breast_density"] != 'Unknown']
df = df[df["current_hrt"] != 'Unknown']
df = df[df["menopaus"] != 'Unknown']
df = df[df["bmi_group"] != 'Unknown']
df = df[df["biophx"] != 'Unknown']
df = df[df["breast_cancer_history"] != 'Unknown']

In [10]:
df

,age_group_5_years,race_eth,first_degree_hx,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,count
1,18-29,Non-Hispanic white,No,>14,<20,Extremely dense,No,Pre,10-24.99,No,No,1
2,18-29,Non-Hispanic white,No,>14,<20,Extremely dense,No,Pre,25-29.99,No,No,1
4,18-29,Non-Hispanic white,No,>14,20-24,Extremely dense,No,Pre,>35,No,No,1
7,18-29,Non-Hispanic white,No,>14,Nulliparous,Scattered fibroglandular densities,No,Pre,10-24.99,No,No,1
10,18-29,Non-Hispanic white,No,>14,Nulliparous,Extremely dense,No,Pre,10-24.99,No,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...
509308,>85,Other/mixed,No,12-13,20-24,Heterogeneously dense,No,Post,10-24.99,Yes,No,1
509311,>85,Other/mixed,No,<12,20-24,Almost entirely fat,No,Post,>35,No,No,1
509312,>85,Other/mixed,No,<12,25-29,Scattered fibroglandular densities,No,Post,25-29.99,No,No,1
509328,>85,Other/mixed,Yes,>14,20-24,Scattered fibroglandular densities,No,Post,25-29.99,No,No,1
509330,>85,Other/mixed,Yes,12-13,20-24,Scattered fibroglandular densities,No,Post,25-29.99,No,No,1

In [7]:
# features, target 정의
features = df.drop(columns='count').columns
target = 'count'

# train, val, test 나누기
train, test = train_test_split(df, train_size=0.8, random_state=42)
train, val = train_test_split(train, train_size=0.8, random_state=42)

# features, target 나누기
X_train, y_train = train[features], train[target]
X_val, y_val = val[features], val[target]
X_test, y_test = test[features], test[target]

print(X_train.shape, y_train.shape)
print(X_val.shape, y_val.shape)
print(X_test.shape, y_test.shape)

(220840, 11) (220840,)
(55211, 11) (55211,)
(69013, 11) (69013,)

In [8]:
# baseline model
base = y_train.mean()
baseline = [base]*len(y_train)
print(f"baseline score: \n{r2_score(y_train, baseline)}")

baseline score:
1.1102230246251565e-16

In [9]:
# multiple linear regression model
multi = make_pipeline(
            OneHotEncoder(),
            LinearRegression())
multi.fit(X_train, y_train)
y_pred_multi = multi.predict(X_val)
print(f"multi score: \n{r2_score(y_val, y_pred_multi)}")

multi score:
0.188323307240857

In [10]:
# polynomial linear regression model
def PolynomialRegression(degree=2, **kwargs):
    return make_pipeline(
                        OneHotEncoder(),
                        PolynomialFeatures(degree), 
                        LinearRegression(**kwargs))
poly = PolynomialRegression(degree=2)
poly.fit(X_train, y_train)
y_pred_poly = poly.predict(X_val)
print(f"poly score: \n{r2_score(y_val, y_pred_poly)}")

poly score:
0.44006658105417373

In [11]:
# ridge regrssion model
ridge = make_pipeline(
            OneHotEncoder(),
            Ridge())
ridge.fit(X_train, y_train)
y_pred_ridge = ridge.predict(X_val)
print(f"ridge score: \n{r2_score(y_val, y_pred_ridge)}")

ridge score:
0.18918567969098443

In [12]:
# lasso regrssion model
lasso = make_pipeline(
            OneHotEncoder(),
            Lasso())
lasso.fit(X_train, y_train)
y_pred_lasso = lasso.predict(X_val)
print(f"lasso score: \n{r2_score(y_val, y_pred_lasso)}")

lasso score:
-1.9563336626893246e-05

In [13]:
# 일반화 성능
y_test_pred = poly.predict(X_test)
print(f"일반화 성능: \n{r2_score(y_test, y_test_pred)}")

일반화 성능:
0.43500977600168966

In [14]:
for index in df:
    print(index)

age_group_5_years
race_eth
first_degree_hx
age_menarche
age_first_birth
BIRADS_breast_density
current_hrt
menopaus
bmi_group
biophx
breast_cancer_history
count

In [22]:
df

,age_group_5_years,race_eth,first_degree_hx,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,count
0,18-29,Non-Hispanic white,No,>14,<20,Extremely dense,No,Pre,10-24.99,No,No,1
1,18-29,Non-Hispanic white,No,>14,<20,Extremely dense,No,Pre,25-29.99,No,No,1
2,18-29,Non-Hispanic white,No,>14,20-24,Extremely dense,No,Pre,>35,No,No,1
3,18-29,Non-Hispanic white,No,>14,Nulliparous,Scattered fibroglandular densities,No,Pre,10-24.99,No,No,1
4,18-29,Non-Hispanic white,No,>14,Nulliparous,Extremely dense,No,Pre,10-24.99,No,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...
345059,>85,Other/mixed,No,12-13,20-24,Heterogeneously dense,No,Post,10-24.99,Yes,No,1
345060,>85,Other/mixed,No,<12,20-24,Almost entirely fat,No,Post,>35,No,No,1
345061,>85,Other/mixed,No,<12,25-29,Scattered fibroglandular densities,No,Post,25-29.99,No,No,1
345062,>85,Other/mixed,Yes,>14,20-24,Scattered fibroglandular densities,No,Post,25-29.99,No,No,1
345063,>85,Other/mixed,Yes,12-13,20-24,Scattered fibroglandular densities,No,Post,25-29.99,No,No,1

In [25]:
df.iloc[0:2]

,age_group_5_years,race_eth,first_degree_hx,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,count
0,18-29,Non-Hispanic white,No,>14,<20,Extremely dense,No,Pre,10-24.99,No,No,1
1,18-29,Non-Hispanic white,No,>14,<20,Extremely dense,No,Pre,25-29.99,No,No,1

UndefinedTable: relation "bcsc" does not exist
LINE 3:             FROM BCSC
                         ^